@font-face {
  font-family: "markerPen";
  src: url(/fonts/PermanentMarker-Regular.ttf?109a10dca0508e41aa127be1fcbe6b44) format("truetype");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: black;
  color: white;
}

.text-center {
  text-align: center;
}

.row {
  width: 100%;
  margin-bottom: 10px;
}

* row:last-child {
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.grow-1 {
  flex-grow: 1;
}
